Repository saleor/saleor-dashboard, pull requests merged in 2023-02, with the labels that each got.

#3056 Fix should remove sku from variant TC: SALEOR_2805 and updateVouchers tests
  cypress/e2e/discounts/vouchers/createVouchers.js
  cypress/e2e/discounts/vouchers/updateVouchers.js
Labels: run e2e, tests

#3080 Add notification if release job fails
  .github/workflows/notify/notify-slack.py
  .github/workflows/tests-nightly.yml
Labels: tests

#3114 Assign new staging domain for Appstore env
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-demo-staging.yaml
  .github/workflows/deploy-master-staging.yaml
  .github/workflows/deploy-staging.yaml
Labels: Feature: Apps

#3153 Fix test nightly job
  .github/workflows/tests-nightly.yml
Labels: tests

#3198 Do not show sidebar if it is not needed
  src/categories/components/CategoryCreatePage/CategoryCreatePage.tsx
  src/categories/components/CategoryUpdatePage/CategoryUpdatePage.tsx
  src/components/AppLayout/AppLayout.tsx
  src/components/AppLayout/Content.tsx
  src/components/AppLayout/RightSidebar.tsx
  src/components/AppLayout/useContentHeight.test.ts
  src/components/AppLayout/useContentHeight.ts
  src/configuration/ConfigurationPage.tsx
  src/custom-apps/components/CustomAppListPage/CustomAppListPage.tsx
  src/customers/components/CustomerCreatePage/CustomerCreatePage.tsx
  src/home/components/HomePage/HomePage.tsx
  src/navigation/components/MenuDetailsPage/MenuDetailsPage.tsx
  src/navigation/components/MenuListPage/MenuListPage.tsx
  src/pageTypes/components/PageTypeAttributes/PageTypeAttributes.tsx
  src/pageTypes/components/PageTypeDetailsPage/PageTypeDetailsPage.tsx
  src/shipping/components/ShippingZonesListPage/ShippingZonesListPage.tsx
  src/siteSettings/components/SiteSettingsPage/SiteSettingsPage.tsx
Labels: run e2e

#3099 Allow subscription query for sync events
  CHANGELOG.md
  locale/defaultMessages.json
  src/components/DryRun/DryRun.test.tsx
  src/components/DryRun/DryRun.tsx
  src/components/DryRun/messages.ts
  src/components/DryRun/utils.test.ts
  src/components/DryRun/utils.ts
  src/components/DryRunItemsList/DryRunItemsList.tsx
  src/components/GraphiQL/GraphiQL.tsx
  src/custom-apps/components/WebhookDetailsPage/WebhookDetailsPage.tsx
  src/custom-apps/components/WebhookEvents/WebhookEvents.tsx
  src/custom-apps/components/WebhookEvents/utils.test.ts
  src/custom-apps/components/WebhookEvents/utils.ts
  src/custom-apps/components/WebhookSubscriptionQuery/WebhookSubscriptionQuery.tsx
  src/custom-apps/handlers.ts
Labels: Beta

#3161 Migrate app view to new-apps
  src/apps/components/AppPage/index.ts
  src/apps/index.tsx
  src/apps/views/App/index.ts
  src/apps/views/AppSettings/AppSettings.tsx
  src/components/Sidebar/menu/SingleItem.tsx
  src/components/Sidebar/menu/useMenuStructure.tsx
  src/components/Sidebar/menu/utils.ts
  src/customers/components/CustomerDetailsPage/CustomerDetailsPage.tsx
  src/customers/components/CustomerListPage/CustomerListPage.tsx
  src/index.tsx
  src/marketplace/index.tsx
  src/new-apps/components/AppDialog/AppDialog.tsx
  src/new-apps/components/AppDialog/index.ts
  src/new-apps/components/AppDialog/styles.ts
  src/new-apps/components/AppFrame/AppFrame.tsx
  src/new-apps/components/AppFrame/appActionsHandler.test.ts
  src/new-apps/components/AppFrame/appActionsHandler.ts
  src/new-apps/components/AppFrame/index.ts
  src/new-apps/components/AppFrame/styles.ts
  src/new-apps/components/AppFrame/useAppActions.ts
  src/new-apps/components/AppFrame/useAppDashboardUpdates.ts
  src/new-apps/components/AppFrame/usePostToExtension.ts
  src/new-apps/components/AppFrame/useTokenRefresh.ts
  src/new-apps/components/AppPage/AppPage.stories.tsx
  src/new-apps/components/AppPage/AppPage.tsx
  src/new-apps/components/AppPage/index.ts
  src/new-apps/components/AppPage/styles.ts
  src/new-apps/components/ExternalAppContext/ExternalAppContext.tsx
  src/new-apps/components/ExternalAppContext/context.ts
  src/new-apps/components/ExternalAppContext/index.ts
  src/new-apps/fixtures.ts
  src/new-apps/hooks/useExtensions.ts
  src/new-apps/index.tsx
  src/new-apps/messages.ts
  src/new-apps/urls.test.ts
  src/new-apps/urls.ts
  src/new-apps/views/AppView/AppView.tsx
  src/new-apps/views/AppView/index.ts
  src/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  src/orders/components/OrderListPage/OrderListPage.tsx
  src/products/components/ProductListPage/ProductListPage.tsx
  src/products/components/ProductUpdatePage/ProductUpdatePage.tsx
  src/storybook/Decorator.tsx
  testUtils/wrapper.tsx
Labels: Feature: Apps
