Repository saleor/saleor-dashboard, pull requests merged in 2023-07, with the labels that each got.

#3760 Category listing datagrid
  .changeset/strange-carrots-juggle.md
  cypress/e2e/catalog/categories.js
  cypress/elements/catalog/categories/category-details.js
  cypress/elements/shared/sharedElements.js
  cypress/support/pages/catalog/categoriesPage.js
  locale/defaultMessages.json
  src/categories/components/CategoryDeleteButton/CategoryDeleteButton.tsx
  src/categories/components/CategoryDeleteButton/index.ts
  src/categories/components/CategoryList/CategoryList.tsx
  src/categories/components/CategoryList/index.ts
  src/categories/components/CategoryListDatagrid/CategoryListDatagrid.tsx
  src/categories/components/CategoryListDatagrid/datagrid.ts
  src/categories/components/CategoryListDatagrid/index.ts
  src/categories/components/CategoryListDatagrid/messages.ts
  src/categories/components/CategoryListPage/CategoryListPage.stories.tsx
  src/categories/components/CategoryListPage/CategoryListPage.tsx
  src/categories/components/CategoryListPage/messages.ts
  src/categories/components/CategoryProductList/CategoryProductList.tsx
  src/categories/components/CategoryProductList/index.ts
  src/categories/components/CategoryProductListDatagrid/CategoryProductListDatagrid.tsx
  src/categories/components/CategoryProductListDatagrid/datagrid.ts
  src/categories/components/CategoryProductListDatagrid/index.ts
  src/categories/components/CategoryProductListDatagrid/messages.ts
  src/categories/components/CategoryProducts/CategoryProducts.tsx
  src/categories/components/CategoryProducts/index.ts
  src/categories/components/CategoryProducts/styles.ts
  src/categories/components/CategorySubcategories/CategorySubcategories.tsx
  src/categories/components/CategorySubcategories/index.ts
  src/categories/components/CategoryUpdatePage/CategoryUpdatePage.stories.tsx
  src/categories/components/CategoryUpdatePage/CategoryUpdatePage.tsx
  src/categories/views/CategoryDetails.tsx
  src/categories/views/CategoryList/CategoryList.tsx
  src/categories/views/CategoryList/filter.ts
  src/components/Datagrid/Datagrid.tsx
  src/components/Datagrid/components/RowActions.tsx
  src/components/Datagrid/styles.ts
  src/components/FilterPresetsSelect/FilterPresetsSelect.tsx
Labels: run e2e, run chromatic

#3765 Order drafts list datagrid
  .changeset/weak-papayas-grab.md
  locale/defaultMessages.json
  src/components/AppLayout/TopNav/Root.tsx
  src/fixtures.ts
  src/orders/components/OrderDraftList/OrderDraftList.tsx
  src/orders/components/OrderDraftList/index.ts
  src/orders/components/OrderDraftListDatagrid/OrderDraftListDatagrid.tsx
  src/orders/components/OrderDraftListDatagrid/datagrid.test.ts
  src/orders/components/OrderDraftListDatagrid/datagrid.ts
  src/orders/components/OrderDraftListDatagrid/index.ts
  src/orders/components/OrderDraftListDatagrid/messages.ts
  src/orders/components/OrderDraftListDatagrid/utils.ts
  src/orders/components/OrderDraftListDeleteButton/OrderDraftListDeleteButton.tsx
  src/orders/components/OrderDraftListDeleteButton/index.ts
  src/orders/components/OrderDraftListHeader/OrderDraftListHeader.tsx
  src/orders/components/OrderDraftListPage/OrderDraftListPage.stories.tsx
  src/orders/components/OrderDraftListPage/OrderDraftListPage.tsx
  src/orders/views/OrderDraftList/OrderDraftList.tsx
  src/orders/views/OrderDraftList/filters.ts
  src/orders/views/OrderList/OrderList.tsx
  src/types.ts
Labels: run e2e, run chromatic

#3846 Refactor order list datagrid to use new hooks
  .changeset/wet-forks-accept.md
  src/orders/views/OrderList/OrderList.tsx
  src/orders/views/OrderList/filters.ts
Labels: run e2e

#3845 Refactor product list datagrid to use new hooks
  .changeset/tiny-cherries-deny.md
  src/products/components/ProductListDeleteButton/ProductListDeleteButton.test.tsx
  src/products/components/ProductListDeleteButton/ProductListDeleteButton.tsx
  src/products/components/ProductListPage/ProductListPage.stories.tsx
  src/products/components/ProductListPage/ProductListPage.tsx
  src/products/views/ProductList/ProductList.tsx
  src/products/views/ProductList/filters.ts
Labels: run e2e

#3873 Drop deprecated field in transactionsAPI
  .changeset/fast-apes-draw.md
  introspection.json
  locale/defaultMessages.json
  schema.graphql
  src/fragments/orders.ts
  src/graphql/fragmentTypes.generated.ts
  src/graphql/hooks.generated.ts
  src/graphql/typePolicies.generated.ts
  src/graphql/types.generated.ts
  src/misc.ts
  src/orders/components/OrderHistory/messages.ts
  src/orders/components/OrderSendRefundPage/OrderSendRefund.tsx
  src/orders/components/OrderTransaction.stories.tsx
  src/orders/components/OrderTransaction/components/CardTitle/CardTitle.tsx
  src/orders/components/OrderTransaction/utils.ts
  src/orders/components/OrderTransactionGiftCard/OrderTransactionGiftCard.tsx
  src/orders/components/OrderTransactionPayment/OrderTransactionPayment.tsx
  src/orders/components/OrderTransactionPayment/utils.ts
  src/orders/fixtures.ts
  src/orders/mutations.ts
Labels: run e2e

#3712 Use Accordion component from new macaw
  .changeset/beige-dots-protect.md
  src/channels/components/AssignmentList/AssignmentList.tsx
  src/channels/components/AssignmentList/AssignmentListHeader.tsx
  src/channels/components/AssignmentList/Item.tsx
  src/channels/components/AssignmentList/styles.ts
  src/components/Accordion/Accordion.tsx
  src/components/Attributes/Attributes.tsx
  src/components/ChannelsAvailabilityCard/Channel/ChannelAvailabilityItemWrapper.tsx
  src/components/Filter/FilterContent/FilterContentBodyNameField.tsx
  src/components/Timeline/TimelineEvent.tsx
  src/components/Timeline/TimelineEventHeader.tsx
  src/giftCards/GiftCardUpdate/GiftCardHistory/styles.ts
  src/products/components/ProductVariantChannels/ChannelsAvailabilityCard/ChannelsList.tsx
  src/products/components/ProductVariantChannels/ChannelsAvailabilityCard/styles.ts
Labels: run e2e, run chromatic

#3869 Introduce new column picker in Order Draft list
  .changeset/moody-queens-end.md
  src/config.ts
  src/orders/components/OrderDraftListDatagrid/OrderDraftListDatagrid.tsx
  src/orders/components/OrderDraftListDatagrid/datagrid.test.ts
  src/orders/components/OrderDraftListDatagrid/datagrid.ts
  src/orders/types.ts
Labels: run e2e, run chromatic

#3891 test fix - updated categories and collection tests to use helper method deleteTwoFirstRecordsFromGridListAndValidate when validating data grid record deletion
  cypress/e2e/catalog/categories.js
  cypress/e2e/catalog/collections.js
  cypress/support/e2e.js
Labels: run e2e

#3835 Collections listing datagrid
  .changeset/gentle-bugs-rest.md
  cypress/e2e/catalog/categories.js
  cypress/e2e/catalog/collections.js
  cypress/support/e2e.js
  locale/defaultMessages.json
  src/collections/components/CollectionList/CollectionList.tsx
  src/collections/components/CollectionList/index.ts
  src/collections/components/CollectionList/messages.ts
  src/collections/components/CollectionListDatagrid/CollectionListDatagrid.tsx
  src/collections/components/CollectionListDatagrid/datagrid.test.ts
  src/collections/components/CollectionListDatagrid/datagrid.ts
  src/collections/components/CollectionListDatagrid/index.ts
  src/collections/components/CollectionListDatagrid/messages.ts
  src/collections/components/CollectionListDeleteButton/CollectionListDeleteButton.tsx
  src/collections/components/CollectionListDeleteButton/index.ts
  src/collections/components/CollectionListPage/CollectionListPage.stories.tsx
  src/collections/components/CollectionListPage/CollectionListPage.tsx
  src/collections/fixtures.ts
  src/collections/types.ts
  src/collections/urls.ts
  src/collections/views/CollectionList/CollectionList.tsx
  src/collections/views/CollectionList/filters.ts
  src/collections/views/CollectionList/sort.ts
  src/components/Datagrid/ColumnPicker/ColumnPicker.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerDynamicColumns.tsx
  src/components/Datagrid/ColumnPicker/useColumnPickerSettings.ts
  src/components/Datagrid/Datagrid.tsx
  src/config.ts
  src/misc.ts
Labels: run e2e, run chromatic

#3876 Introduce new column picker in Categories list
  .changeset/fast-rocks-punch.md
  src/categories/components/CategoryListDatagrid/CategoryListDatagrid.tsx
  src/categories/components/CategoryListDatagrid/datagrid.ts
  src/categories/components/CategorySubcategories/CategorySubcategories.tsx
  src/categories/components/CategoryUpdatePage/CategoryUpdatePage.tsx
  src/categories/views/CategoryDetails.tsx
  src/config.ts
Labels: run e2e, run chromatic

#3878 Drop dynamic column toggles in column picker
  .changeset/empty-scissors-grow.md
  cypress/e2e/products/productsList/columnPicker.js
  cypress/elements/catalog/products/product-details.js
  cypress/elements/shared/sharedElements.js
  cypress/fixtures/index.js
  cypress/fixtures/localStorage/columnPickerMocks.js
  cypress/support/pages/columnPicker.js
  cypress/support/pages/index.js
  src/categories/components/CategoryListDatagrid/CategoryListDatagrid.tsx
  src/collections/components/CollectionListDatagrid/CollectionListDatagrid.tsx
  src/collections/components/CollectionListPage/CollectionListPage.stories.tsx
  src/collections/components/CollectionListPage/CollectionListPage.tsx
  src/collections/views/CollectionList/CollectionList.tsx
  src/components/Datagrid/ColumnPicker/ColumnPicker.md
  src/components/Datagrid/ColumnPicker/ColumnPicker.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerAvailableNodes.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerCategories.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerDynamicColumns.tsx
  src/components/Datagrid/ColumnPicker/useColumnPickerSettings.ts
  src/components/Datagrid/ColumnPicker/useColumns.test.ts
  src/components/Datagrid/ColumnPicker/useColumns.ts
  src/components/Datagrid/ColumnPicker/utils.tsx
  src/orders/components/OrderDraftListDatagrid/OrderDraftListDatagrid.tsx
  src/orders/components/OrderListDatagrid/OrderListDatagrid.tsx
  src/products/components/ProductListDatagrid/ProductListDatagrid.tsx
  src/products/components/ProductListPage/ProductListPage.stories.tsx
  src/products/components/ProductListPage/ProductListPage.tsx
  src/products/views/ProductList/ProductList.tsx
Labels: run e2e

#3843 Add order expiration
  .changeset/lemon-beds-raise.md
  cypress/e2e/configuration/channels/channels.js
  cypress/elements/channels/add-channel-form-selectors.js
  cypress/elements/channels/channels-selectors.js
  cypress/fixtures/messages.js
  cypress/support/pages/channelsPage.js
  locale/defaultMessages.json
  src/channels/components/ChannelForm/ChannelForm.tsx
  src/channels/components/ChannelForm/messages.ts
  src/channels/components/ChannelStatus/ChannelStatus.tsx
  src/channels/fixtures.ts
  src/channels/pages/ChannelDetailsPage/ChannelDetailsPage.tsx
  src/channels/views/ChannelCreate/ChannelCreate.tsx
  src/channels/views/ChannelDetails/ChannelDetails.tsx
  src/fragments/channels.ts
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
Labels: run e2e

#3943 Fix app installation error redirection
  .changeset/hungry-buses-pump.md
  src/apps/components/AppInstallErrorPage/AppInstallErrorPage.tsx
  src/apps/components/AppInstallErrorPage/index.ts
  src/apps/views/AppInstallView/AppInstallView.tsx
Labels: Feature: Apps, view: apps

#3737 Migrate Home page to new macaw
  .changeset/shiny-moons-wave.md
  locale/defaultMessages.json
  src/components/Layouts/Detail/Root.tsx
  src/home/components/HomeActivityCard/HomeActivityCard.tsx
  src/home/components/HomeActivityCard/index.ts
  src/home/components/HomeAnalyticsCard/HomeAnalyticsCard.tsx
  src/home/components/HomeAnalyticsCard/index.ts
  src/home/components/HomeHeader/HomeHeader.tsx
  src/home/components/HomeHeader/index.ts
  src/home/components/HomeNotificationList/HomeNotificationList.tsx
  src/home/components/HomeNotificationList/HomeNotificationListItem.tsx
  src/home/components/HomeNotificationList/index.ts
  src/home/components/HomeNotificationList/messages.ts
  src/home/components/HomeNotificationList/utils.tsx
  src/home/components/HomeNotificationTable/HomeNotificationTable.tsx
  src/home/components/HomeNotificationTable/index.ts
  src/home/components/HomePage/HomePage.tsx
  src/home/components/HomeProductList/HomeProductList.tsx
  src/home/components/HomeProductList/HomeProductListItem.tsx
  src/home/components/HomeProductList/index.ts
  src/home/components/HomeProductListCard/HomeProductListCard.tsx
  src/home/components/HomeProductListCard/index.ts
  src/home/components/HomeScreen.tsx
  src/home/fixtures.ts
  src/home/types.ts
  src/index.css
Labels: run e2e, run chromatic

#3946 Fix throw error when no description data in product list datagrid
  .changeset/heavy-dingos-sell.md
  src/products/components/ProductListDatagrid/datagrid.test.ts
  src/products/components/ProductListDatagrid/datagrid.ts
Labels: run e2e

#3939 Introduce datagrid on Discounts list
  .changeset/polite-trainers-fix.md
  cypress/e2e/discounts/sales/createSalesForProducts.js
  cypress/support/pages/discounts/salesPage.js
  locale/defaultMessages.json
  src/components/AppLayout/ListFilters/ListFilters.tsx
  src/components/AppLayout/ListFilters/components/FiltersSelect.tsx
  src/components/Datagrid/const.ts
  src/components/Percent/Percent.tsx
  src/components/Percent/utils.test.ts
  src/components/Percent/utils.ts
  src/config.ts
  src/discounts/components/SaleList/SaleList.tsx
  src/discounts/components/SaleList/index.ts
  src/discounts/components/SaleListDatagrid/SaleListDatagrid.tsx
  src/discounts/components/SaleListDatagrid/datagrid.ts
  src/discounts/components/SaleListDatagrid/index.tsx
  src/discounts/components/SaleListDatagrid/messages.ts
  src/discounts/components/SaleListPage/SaleListPage.stories.tsx
  src/discounts/components/SaleListPage/SaleListPage.tsx
  src/discounts/urls.ts
  src/discounts/views/SaleList/SaleList.tsx
  src/discounts/views/SaleList/filters.ts
  src/discounts/views/SaleList/sort.ts
  src/fixtures.ts
  src/orders/components/OrderDraftListHeader/OrderDraftListHeader.tsx
  src/orders/components/OrderDraftListPage/OrderDraftListPage.tsx
  src/types.ts
Labels: run e2e

#3894 Introduce datagrid in grift cards list
  .changeset/wise-windows-cheat.md
  cypress/e2e/catalog/giftCards/activateGiftCards.js
  cypress/e2e/catalog/giftCards/exportGiftCards.js
  cypress/e2e/catalog/giftCards/updatingGiftCards.js
  cypress/elements/catalog/giftCard/giftCardShowMore.js
  cypress/elements/shared/button-selectors.js
  cypress/elements/shared/sharedElements.js
  cypress/fixtures/messages.js
  cypress/support/api/requests/GiftCard.js
  cypress/support/api/utils/users.js
  cypress/support/pages/catalog/giftCardPage.js
  cypress/support/pages/index.js
  locale/defaultMessages.json
  src/config.ts
  src/giftCards/GiftCardExportDialogContent/GiftCardExportDialogContent.tsx
  src/giftCards/GiftCardUpdate/GiftCardUpdatePageHeader/GiftCardEnableDisableSection.tsx
  src/giftCards/GiftCardUpdate/mutations.ts
  src/giftCards/GiftCardsList/GiftCardListBulkActions/GiftCardListBulkActions.tsx
  src/giftCards/GiftCardsList/GiftCardListBulkActions/index.ts
  src/giftCards/GiftCardsList/GiftCardListPage.tsx
  src/giftCards/GiftCardsList/GiftCardListSearchAndFilters/GiftCardListSearchAndFilters.tsx
  src/giftCards/GiftCardsList/GiftCardListSearchAndFilters/messages.ts
  src/giftCards/GiftCardsList/GiftCardsListDatagrid/GiftCardsListDatagrid.tsx
  src/giftCards/GiftCardsList/GiftCardsListDatagrid/datagrid.ts
  src/giftCards/GiftCardsList/GiftCardsListDatagrid/index.ts
  src/giftCards/GiftCardsList/GiftCardsListDatagrid/messages.ts
  src/giftCards/GiftCardsList/GiftCardsListHeader/GiftCardsListHeader.tsx
  src/giftCards/GiftCardsList/GiftCardsListHeader/GiftCardsListHeaderAlert.tsx
  src/giftCards/GiftCardsList/GiftCardsListHeader/GiftCardsListHeaderAlertContent.tsx
  src/giftCards/GiftCardsList/GiftCardsListHeader/styles.ts
  src/giftCards/GiftCardsList/GiftCardsListOrderInfoCard/GiftCardsListOrderInfoCard.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTable.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTableFooter.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTableHeader/GiftCardsListTableHeader.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTableHeader/index.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTableHeader/messages.ts
  src/giftCards/GiftCardsList/GiftCardsListTable/GiftCardsListTableHeader/mutations.ts
  src/giftCards/GiftCardsList/GiftCardsListTable/index.tsx
  src/giftCards/GiftCardsList/GiftCardsListTable/utils.ts
  src/giftCards/GiftCardsList/filters.ts
  src/giftCards/GiftCardsList/messages.ts
  src/giftCards/GiftCardsList/providers/GiftCardListDialogsProvider/GiftCardListDialogsProvider.tsx
  src/giftCards/GiftCardsList/providers/GiftCardListProvider/GiftCardListProvider.tsx
  src/giftCards/GiftCardsList/styles.ts
  src/giftCards/GiftCardsList/types.ts
  src/giftCards/components/GiftCardCustomerCard/CustomerGiftCardsCardListItem.tsx
  src/giftCards/components/GiftCardDeleteDialog/GiftCardDeleteDialogContent.tsx
  src/giftCards/components/GiftCardDeleteDialog/GiftCardListPageDeleteDialog.tsx
  src/giftCards/components/GiftCardDeleteDialog/useGiftCardBulkDelete.tsx
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
  src/hooks/useFilterPresets/useFilterPresets.ts
  src/hooks/useListSettings.ts
  src/hooks/useRowSelection.ts
  src/index.css
  src/types.ts
Labels: run e2e, run chromatic

#3989 test - user should be able to delete saved preset
  cypress/e2e/products/productsList/productPresets.js
  cypress/elements/shared/presetsAndSearch.js
  cypress/support/pages/catalog/presetsAndSearch.js
  src/components/FilterPresetsSelect/FilterPresetItem.tsx
Labels: view: products

#3962 App permissions request flow
  .changeset/seven-carrots-hope.md
  locale/defaultMessages.json
  package-lock.json
  package.json
  src/apps/apps-routing.tsx
  src/apps/components/AppFrame/appActionsHandler.test.ts
  src/apps/components/AppFrame/appActionsHandler.ts
  src/apps/components/AppFrame/useAppActions.ts
  src/apps/components/AppPermissionsDialog/AppPermissionsDialog.tsx
  src/apps/components/AppPermissionsDialog/AppPermissionsDialogConfirmation.tsx
  src/apps/components/AppPermissionsDialog/AppPermissionsDialogState.ts
  src/apps/getPermissionsDiff.test.ts
  src/apps/getPermissionsDiff.ts
  src/apps/hooks/useGetAvailableAppPermissions.test.ts
  src/apps/hooks/useGetAvailableAppPermissions.ts
  src/apps/urls.ts
  src/apps/views/AppPermissionRequestView/AppPermissionRequestView.tsx
  src/apps/views/AppPermissionRequestView/index.ts
  src/apps/views/AppPermissionRequestView/messages.ts
  src/apps/views/AppPermissionRequestView/usePermissionsRequestRedirects.test.ts
  src/apps/views/AppPermissionRequestView/usePermissionsRequestRedirects.ts
  src/apps/views/AppView/AppView.tsx
  src/apps/views/index.ts
Labels: Feature: Apps, view: apps

#3995 test- test case id fixed in delete products test
  cypress/e2e/products/productsList/deleteProducts.js
Labels: view: products

#3934 Add order details new column picker
  .changeset/gold-crews-cry.md
  cypress/e2e/orders/draftOrders.js
  cypress/e2e/orders/orders.js
  cypress/elements/shared/sharedElements.js
  cypress/support/customCommands/sharedElementsOperations/selects.js
  src/components/Datagrid/ColumnPicker/ColumnPicker.tsx
  src/components/Datagrid/Datagrid.tsx
  src/config.ts
  src/orders/components/OrderDetailsDatagrid/OrderDetailsDatagrid.tsx
  src/orders/components/OrderDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDraftDetailsDatagrid/OrderDraftDetailsDatagrid.tsx
  src/orders/components/OrderDraftDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDraftDetailsDatagrid/messages.ts
  src/types.ts
Labels: run e2e

#4025 fixed products presest and draft orders
  cypress/e2e/orders/orders.js
  cypress/e2e/products/productsList/productPresets.js
  cypress/support/pages/ordersOperations.js
Labels: view: draft order, presets

#4001 Make titles font stronger
  .changeset/hip-geckos-study.md
  src/components/Datagrid/styles.ts
Labels: datagrid

#4002 testmo checks fails on community pull requests
  .github/workflows/test-env-deploy.yml
Labels: maintenance
