Repository saleor/saleor-dashboard, pull requests merged in 2023-06, with the labels that each got.

#3646 Remove configurable label
  locale/defaultMessages.json
  src/productTypes/components/ProductTypeList/ProductTypeList.tsx
  src/productTypes/components/ProductTypeList/index.ts
  src/productTypes/components/ProductTypeListPage/ProductTypeListPage.tsx
  src/products/components/ProductCreatePage/ProductCreatePage.tsx
  src/products/components/ProductOrganization/ProductOrganization.tsx
  src/products/components/ProductOrganization/index.ts
  src/products/components/ProductUpdatePage/ProductUpdatePage.tsx
Labels: products

#3739 test fix - filtering products
  cypress/e2e/products/productsList/filteringProducts.js
  cypress/support/pages/catalog/products/productsListPage.js
  src/graphql/types.generated.ts
Labels: run e2e

#3759 test fix - test env deployment yaml fix
  .github/workflows/test-env-deploy.yml
Labels: run e2e

#3744 Allow to copy and go to product details on order details datagrid
  cypress/e2e/orders/orders.js
  cypress/e2e/pages/pages.js
  cypress/e2e/products/createProduct.js
  cypress/e2e/products/productsWithoutSku/updatingProductsWithoutSku.js
  cypress/elements/channels/available-channels-form.js
  cypress/elements/orders/orders-selectors.js
  cypress/support/pages/catalog/products/productDetailsPage.js
  cypress/support/pages/ordersOperations.js
  cypress/support/pages/pagesPage.js
  locale/defaultMessages.json
  package-lock.json
  package.json
  src/components/CardMenu/CardMenu.tsx
  src/components/Datagrid/components/RowActions.tsx
  src/components/Datagrid/customCells/NumberCell.tsx
  src/components/Datagrid/styles.ts
  src/fragments/orders.ts
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
  src/orders/components/OrderDetailsDatagrid/OrderDetailsDatagrid.tsx
  src/orders/components/OrderDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDetailsDatagrid/messages.ts
  src/orders/components/OrderDraftDetailsDatagrid/OrderDraftDetailsDatagrid.tsx
  src/orders/components/OrderDraftDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDraftDetailsDatagrid/messages.ts
  src/orders/fixtures.ts
  src/orders/utils/data.test.ts
Labels: run e2e

#3795 fixed flaky draft order and products without sku tests
  cypress/e2e/orders/draftOrders.js
  cypress/e2e/products/productsWithoutSku/createProductWithoutSku.js
  cypress/support/api/requests/index.js
  cypress/support/api/utils/index.js
  cypress/support/pages/index.js
Labels: run e2e

#3514 🏛️ Implement new column picker
  locale/defaultMessages.json
  package-lock.json
  package.json
  src/components/ButtonWithDropdown/ButtonWithDropdown.tsx
  src/components/CardMenu/CardMenu.tsx
  src/components/ColumnPicker/ColumnPicker.md
  src/components/Datagrid/ColumnPicker/ColumnPicker.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerAvailableNodes.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerCategories.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerCategoryList.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerDynamicColumns.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerPagination.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerSearch.tsx
  src/components/Datagrid/ColumnPicker/ColumnPickerStaticColumns.tsx
  src/components/Datagrid/ColumnPicker/messages.ts
  src/components/Datagrid/ColumnPicker/useAvailableColumnsQuery.ts
  src/components/Datagrid/ColumnPicker/useCategorySelection.ts
  src/components/Datagrid/ColumnPicker/useColumnPickerSettings.ts
  src/components/Datagrid/ColumnPicker/useColumns.test.ts
  src/components/Datagrid/ColumnPicker/useColumns.ts
  src/components/Datagrid/ColumnPicker/utils.tsx
  src/components/Datagrid/Datagrid.tsx
  src/components/Datagrid/hooks/useEmptyColumn.ts
  src/components/Datagrid/types.ts
  src/components/DryRunItemsList/utils.ts
  src/config.ts
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
  src/hooks/useListSettings.ts
  src/orders/components/OrderChangeWarehouseDialog/OrderChangeWarehouseDialog.tsx
  src/orders/components/OrderListDatagrid/OrderListDatagrid.tsx
  src/orders/components/OrderListDatagrid/datagrid.ts
  src/orders/components/OrderListPage/OrderListPage.tsx
  src/products/components/ProductListDatagrid/ProductListDatagrid.tsx
  src/products/components/ProductListDatagrid/datagrid.ts
  src/products/components/ProductListDatagrid/hooks/useColumnPickerColumns.test.ts
  src/products/components/ProductListDatagrid/hooks/useColumnPickerColumns.ts
  src/products/components/ProductListDatagrid/hooks/useDatagridColumns.ts
  src/products/components/ProductListDatagrid/messages.ts
  src/products/components/ProductListPage/ProductListPage.stories.tsx
  src/products/components/ProductListPage/ProductListPage.tsx
  src/products/components/ProductListPage/utils.ts
  src/products/fixtures.ts
  src/products/queries.ts
  src/products/views/ProductList/ProductList.tsx
Labels: run e2e

#3794 build: run chromatic on label
  .github/workflows/storybook-chromatic-branch.yml
  .github/workflows/storybook-chromatic-main.yml
Labels: run chromatic

#3789 Update app-sdk and pass saleor versions to handshake event for apps
  .changeset/tall-files-marry.md
  package-lock.json
  package.json
  src/apps/components/AppFrame/AppFrame.tsx
  src/apps/components/AppFrame/appActionsHandler.ts
  src/apps/components/AppFrame/useAppActions.ts
  src/apps/components/AppPage/AppPage.tsx
  src/apps/components/ExternalAppContext/ExternalAppContext.tsx
Labels: Feature: Apps

#3814 Fix unable to save attribute value
  .changeset/five-plums-tell.md
  src/attributes/components/AttributeValueEditDialog/AttributeValueEditDialog.tsx
  src/attributes/components/AttributeValueEditDialog/utils.test.ts
  src/attributes/components/AttributeValueEditDialog/utils.ts
Labels: run e2e

#3719 Cypress tests on releases - fix slack notify message
  .github/workflows/tests-nightly.yml
Labels: tests

#3816 test - fixes createSales ans updateSales
  cypress/e2e/discounts/sales/createSalesForVariants.js
  cypress/e2e/discounts/sales/updateSales.js
  cypress/support/api/utils/discounts/salesUtils.js
  cypress/support/pages/discounts/salesPage.js
Labels: run e2e
