Repository saleor/saleor-dashboard, pull requests merged in 2023-09, with the labels that each got.

#4162 Skip cypress cloud when running e2e tests
  .github/workflows/test-env-deploy.yml
  .github/workflows/tests-nightly.yml
  cypress/support/e2e.js
Labels: automation tests

#4226 Fix empty date filter on order list
  .changeset/stupid-pans-sing.md
  src/utils/filters/filters.ts
Labels: bug, view: order

#4185 Add metadata column to order details datagrid
  .changeset/pink-beans-begin.md
  cypress/e2e/orders/draftOrders.js
  cypress/e2e/orders/orders.js
  cypress/elements/shared/sharedElements.js
  locale/defaultMessages.json
  src/components/ConditionalFilter/ValueProvider/useUrlValueProvider.ts
  src/components/Datagrid/customCells/cells.ts
  src/components/Metadata/Metadata.tsx
  src/components/Metadata/MetadataCard.tsx
  src/components/Metadata/MetadataCardTable.tsx
  src/config.ts
  src/fragments/orders.ts
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
  src/intl.ts
  src/orders/components/OrderDetailsDatagrid/OrderDetailsDatagrid.tsx
  src/orders/components/OrderDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDetailsPage/OrderDetailsPage.stories.tsx
  src/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  src/orders/components/OrderDetailsPage/OrderDetailsPageTransactions.stories.tsx
  src/orders/components/OrderDraftDetails/OrderDraftDetails.tsx
  src/orders/components/OrderDraftDetailsDatagrid/OrderDraftDetailsDatagrid.tsx
  src/orders/components/OrderDraftDetailsDatagrid/datagrid.ts
  src/orders/components/OrderDraftDetailsProducts/OrderDraftDetailsProducts.tsx
  src/orders/components/OrderDraftPage/OrderDraftPage.stories.tsx
  src/orders/components/OrderDraftPage/OrderDraftPage.tsx
  src/orders/components/OrderFulfilledProductsCard/OrderFulfilledProductsCard.tsx
  src/orders/components/OrderMetadataDialog/OrderMetadataDialog.tsx
  src/orders/components/OrderMetadataDialog/index.ts
  src/orders/components/OrderUnfulfilledProductsCard/OrderUnfulfilledProductsCard.tsx
  src/orders/fixtures.ts
  src/orders/mutations.ts
  src/orders/queries.ts
  src/orders/urls.ts
  src/orders/utils/data.test.ts
  src/orders/views/OrderDetails/OrderDetails.tsx
  src/orders/views/OrderDetails/OrderDraftDetails/index.tsx
  src/orders/views/OrderDetails/OrderNormalDetails/index.tsx
  src/orders/views/OrderDetails/OrderUnconfirmedDetails/index.tsx
  src/orders/views/OrderFulfill/OrderFulfill.tsx
  src/orders/views/OrderRefund/OrderRefund.tsx
  src/orders/views/OrderReturn/OrderReturn.tsx
  src/orders/views/OrderSendRefund/OrderSendRefund.tsx
  src/products/components/OrderDiscountProviders/OrderDiscountProvider.tsx
  src/products/components/OrderDiscountProviders/OrderLineDiscountProvider.tsx
Labels: run e2e

#4171 Move e2e test steps from workflows into composite action
  .github/actions/combineReportsFromE2E/action.yml
  .github/actions/e2e/action.yml
  .github/actions/testmo/testmo-finish/action.yml
  .github/actions/testmo/testmo-init/action.yml
  .github/actions/testmo/testmo-threads-submit/action.yml
  .github/workflows/deploy-and-run-cypress.yml
  .github/workflows/test-env-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tests-nightly.yml
  cypress.config.js
Labels: automation tests
