Repository saleor/saleor-dashboard, pull requests merged in 2024-02, with the labels that each got.

#4632 [TEST] [E2E] Adding tests for bulk deleting shipping zones and updating one
  .changeset/spotty-bulldogs-give.md
  playwright/data/e2eTestData.ts
  playwright/pages/pageElements/rightSideDetailsSection.ts
  playwright/pages/shippingMethodsPage.ts
  playwright/tests/shippingMethods.spec.ts
  src/components/MultiAutocompleteSelectField/MultiAutocompleteSelectField.tsx
  src/shipping/components/ShippingZoneSettingsCard/ShippingZoneSettingsCard.tsx
Labels: e2e-migration

#4663 [TEST][E2E] Add test for customer edit
  .changeset/silver-mangos-invite.md
  playwright/data/e2eTestData.ts
  playwright/pages/customersPage.ts
  playwright/tests/customers.spec.ts
  src/customers/components/CustomerDetails/CustomerDetails.tsx
  src/customers/components/CustomerInfo/CustomerInfo.tsx
  src/giftCards/components/GiftCardCustomerCard/CustomerGiftCardsCard.tsx
Labels: e2e-migration

#4676 Adding code inspector plugin
  .changeset/angry-lemons-wave.md
  package-lock.json
  package.json
  vite.config.js
Labels: dependencies

#4683 [TEST] [e2e] Adding tests for basic promotion CRUD
  .changeset/cold-grapes-compete.md
  playwright/data/commonLocators.ts
  playwright/data/e2eTestData.ts
  playwright/data/url.ts
  playwright/pages/basePage.ts
  playwright/pages/dialogs/deleteDiscountDialog.ts
  playwright/pages/discountsPage.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/vouchers.spec.ts
  src/discounts/components/DiscountDeleteModal/DiscountDeleteModal.tsx
  src/discounts/components/DiscountDetailsForm/DiscountDetailsForm.tsx
  src/discounts/components/DiscountGeneralInfo/DiscountGeneralInfo.tsx
  src/discounts/components/DiscountRules/DiscountRules.tsx
  src/discounts/components/DiscountRules/componenets/AddButton/AddButton.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/RuleForm.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/DiscountTypeSwitch/DiscountTypeSwitch.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/RuleConditions.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/components/AddConditionsSection/AddConditionsSection.tsx
  src/discounts/components/DiscountRules/componenets/RuleFormModal/RuleFormModal.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleWrapper/RuleWrapper.tsx
Labels: automation tests
