Repository saleor/saleor-dashboard, pull requests merged in 2024-03, with the labels that each got.

#4704 [TEST] [E2E] Tests for adding promotion rules
  .changeset/nervous-weeks-nail.md
  playwright/data/e2eTestData.ts
  playwright/pages/dialogs/promotionRuleDialog.ts
  playwright/pages/discountsPage.ts
  playwright/tests/discounts.spec.ts
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditionRow/RuleConditionRow.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/RuleConditions.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/components/AddConditionsSection/AddConditionsSection.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleRewardTypeSelect/RuleRewardTypeSelect.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleRewardValue/RuleRewardValue.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleLabel/RuleLabel.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/RuleSummary.tsx
Labels: automation tests, e2e-migration

#4713 Fix sending empty order condition in discount rules
  .changeset/slimy-ants-shave.md
  src/discounts/models/CatalogRule/preparePredicate.test.ts
  src/discounts/models/CatalogRule/preparePredicate.ts
  src/discounts/models/OrderRule/prepareConditions.test.ts
  src/discounts/models/OrderRule/preparePredicate.test.ts
  src/discounts/models/OrderRule/preparePredicate.ts
Labels: release:3.19

#4715 Fix: Dashboard crashing when entering variants
  .changeset/strange-ladybugs-judge.md
  src/products/components/ProductVariantChannels/ChannelsAvailabilityCard/AvailabilityCard.tsx
  src/products/components/ProductVariantChannels/ChannelsAvailabilityCard/useFilteredChannelListing.test.ts
  src/products/components/ProductVariantChannels/ChannelsAvailabilityCard/useFilteredChannelListing.ts
Labels: release:3.19

#4650 [TEST] [E2E] Added test for setting balance and exporting gift cards
  .changeset/nervous-toes-fail.md
  .env.template
  .github/actions/run-pw-tests/action.yml
  .github/workflows/pr-automation.yml
  .github/workflows/run-test-cron.yml
  .github/workflows/run-test-manual.yml
  playwright/api/mailpit.ts
  playwright/pages/dialogs/exportGiftCardsDialog.ts
  playwright/pages/dialogs/setGiftCardBalanceDialog.ts
  playwright/pages/giftCardsPage.ts
  playwright/tests/girftCards.spec.ts
Labels: e2e-migration

#4707 [E2E] [QA] Refactoring playwright setup file and moving auth specs
  .changeset/great-bottles-retire.md
  playwright/api/basics.ts
  playwright/data/userPermissions.ts
  playwright/pages/loginPage.ts
  playwright/tests/apps.spec.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/auth.setup.ts
  playwright/tests/categories.spec.ts
  playwright/tests/channels.spec.ts
  playwright/tests/collections.spec.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/home.spec.ts
  playwright/tests/login.spec.ts
  playwright/tests/orders.spec.ts
  playwright/tests/product.spec.ts
  playwright/tests/productTypes.spec.ts
  playwright/tests/shippingMethods.spec.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/channelsWebhooks.spec.ts
  playwright/tests/singlePermissions/contentPage.spec.ts
  playwright/tests/singlePermissions/orders.spec.ts
  playwright/tests/singlePermissions/plugins.spec.ts
  playwright/tests/singlePermissions/productType.spec.ts
  playwright/tests/singlePermissions/staffMembers.spec.ts
  playwright/tests/staffMembers.spec.ts
  playwright/tests/taxes.spec.ts
  playwright/tests/vouchers.spec.ts
  playwright/tests/warehouse.spec.ts
Labels: e2e-migration

#4722 [TEST] [E2E] Tests for updating and deleting promotion rules
  .changeset/fifty-gifts-join.md
  playwright/data/e2eTestData.ts
  playwright/pages/dialogs/deleteDiscountDialog.ts
  playwright/pages/dialogs/deleteRuleDialog.ts
  playwright/pages/dialogs/promotionRuleDialog.ts
  playwright/pages/discountsPage.ts
  playwright/tests/discounts.spec.ts
  src/discounts/components/DiscountRules/componenets/RuleDeleteModal/RuleDeleteModal.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditionRow/RuleConditionRow.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/RuleConditions.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/components/AddConditionsSection/AddConditionsSection.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/RulesList.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleSummaryChips/RuleSummaryChips.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleValueChips/RuleValueChips.tsx
Labels: automation tests, e2e-migration

#4728 [TEST] [E2E] Adding e2e tests for attributes
  .changeset/thick-tools-flash.md
  playwright/data/commonLocators.ts
  playwright/data/e2eTestData.ts
  playwright/pages/attributesPage.ts
  playwright/pages/basePage.ts
  playwright/pages/configurationPage.ts
  playwright/pages/dialogs/addValueDialog.ts
  playwright/pages/dialogs/deleteAttributeDialog.ts
  playwright/pages/dialogs/deleteAttributeValueDialog.ts
  playwright/pages/dialogs/deleteAttributesInBulkDialog.ts
  playwright/pages/dialogs/editAttributeValueDialog.ts
  playwright/tests/attributes.spec.ts
  src/attributes/components/AttributeBulkDeleteDialog/AttributeBulkDeleteDialog.tsx
  src/attributes/components/AttributeDeleteDialog/AttributeDeleteDialog.tsx
  src/attributes/components/AttributeValueDeleteDialog/AttributeValueDeleteDialog.tsx
  src/attributes/components/AttributeValueEditDialog/AttributeValueEditDialog.tsx
  src/attributes/components/AttributeValues/AttributeValues.tsx
  src/components/Datagrid/Datagrid.tsx
  src/components/Metadata/MetadataCardTable.tsx
Labels: automation tests, e2e-migration

#4751 [E2E] Fixing flaky e2e tests
  .changeset/thin-timers-grin.md
  playwright/pages/basePage.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/translations.spec.ts
Labels: automation tests

#4756 [E2E] Fixing another batch of flaky tests
  .changeset/rich-apes-buy.md
  playwright/pages/appsPage.ts
  playwright/pages/giftCardsPage.ts
  playwright/tests/apps.spec.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/giftCards.spec.ts
Labels: automation tests

#4755 [TEST] [E2E] Adding PW test for readonly Apps access
  .changeset/new-ants-shop.md
  playwright/pages/appDetailsPage.ts
  playwright/pages/appPageThirdparty.ts
  playwright/pages/appsPage.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/readonly_app_access.spec.ts
  src/apps/components/AllAppList/AllAppList.tsx
  src/apps/components/AppDetailsPage/AppDetailsPage.tsx
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppListRow/InstalledAppListRow.tsx
Labels: automation tests, e2e-migration

#4764 [QA] Correcting e2e test case ids
  .changeset/serious-books-wave.md
  playwright/pages/dialogs/productCreateDialog.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/staffMembers.spec.ts
Labels: automation tests
