Repository saleor/saleor-dashboard, pull requests merged in 2024-06, with the labels that each got.

#4896 [TEST] [QA] Adding staff member CRUD e2e tests
  .changeset/eighty-insects-repeat.md
  .github/actions/prepare-instance/action.yml
  playwright/data/e2eTestData.ts
  playwright/pages/dialogs/inviteStaffMemberDialog.ts
  playwright/pages/staffMembersPage.ts
  playwright/tests/staffMembers.spec.ts
  src/staff/components/StaffAddMemberDialog/StaffAddMemberDialog.tsx
  src/staff/components/StaffProperties/StaffProperties.tsx
Labels: automation tests, e2e-migration

#4983 Fix unhandler error when storing password credentials
  .changeset/tricky-lamps-flash.md
  src/utils/credentialsManagement.ts
Labels: release:3.18, release:3.19

#4998 E2E fix for flaky tests
  .changeset/cool-doors-drum.md
  playwright/pages/dialogs/addNavigationMenuItemDialog.ts
  playwright/pages/dialogs/deleteDialog.ts
  playwright/pages/navigationDetailsPage.ts
  playwright/pages/pageTypesPage.ts
  playwright/pages/vouchersPage.ts
  playwright/tests/categories.spec.ts
  playwright/tests/collections.spec.ts
  playwright/tests/pageTypes.spec.ts
  playwright/tests/product.spec.ts
  playwright/tests/singlePermissions/readonlyAppAccess.spec.ts
  playwright/tests/translations.spec.ts
  playwright/tests/vouchers.spec.ts
Labels: automation tests
