Repository saleor/saleor-dashboard, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

CODEOWNERS:

* @saleor/ui-guild
/.github/ @saleor/SRE

/playwright @saleor/qa-guild
/cypress @saleor/qa-guild

Remove brackets
  src/orders/components/OrderCardTitle/OrderCardTitle.tsx
  src/orders/components/OrderCardTitle/utils.ts
  src/orders/components/OrderFulfilledProductsCard/OrderFulfilledProductsCard.tsx
  src/orders/components/OrderReturnPage/OrderReturnRefundItemsCard/ReturnItemsCard.tsx
  src/orders/components/OrderReturnPage/components/ItemsCard/ItemsCard.tsx
  src/orders/components/OrderUnfulfilledProductsCard/OrderUnfulfilledProductsCard.tsx
Owners: @saleor/ui-guild

Changeset add
  .changeset/famous-grapes-stare.md
Owners: @saleor/ui-guild

remove leftovers
  package.json
Owners: @saleor/ui-guild

Send tests results when running manually
  .github/actions/testmo/testmo-threads-submit-cypress/action.yml
  .github/actions/testmo/testmo-threads-submit-playwright/action.yml
  .github/workflows/postTestsResults.js
  .github/workflows/run-test-manual.yml
  .github/workflows/tests-nightly.yml
  package-lock.json
  package.json
  playwright.config.ts
Owners: @saleor/SRE, @saleor/ui-guild

Send tests results when running manually
  .github/workflows/pr-automation.yml
Owners: @saleor/SRE

Send tests results when running manually
  .github/workflows/pr-automation.yml
  .github/workflows/run-test-manual.yml
Owners: @saleor/SRE

Check if it is working
  .github/workflows/run-test-manual.yml
Owners: @saleor/SRE

Fix datagrid fullscreen icon
  src/components/Datagrid/components/Header.tsx
Owners: @saleor/ui-guild

Fix init testmo
  .changeset/eleven-mirrors-guess.md
  .github/workflows/run-test-manual.yml
Owners: @saleor/ui-guild, @saleor/SRE

Remove brackets next to order status title (#4736)
  .changeset/famous-grapes-stare.md
  src/orders/components/OrderCardTitle/OrderCardTitle.tsx
  src/orders/components/OrderCardTitle/utils.ts
  src/orders/components/OrderFulfilledProductsCard/OrderFulfilledProductsCard.tsx
  src/orders/components/OrderReturnPage/OrderReturnRefundItemsCard/ReturnItemsCard.tsx
  src/orders/components/OrderReturnPage/components/ItemsCard/ItemsCard.tsx
  src/orders/components/OrderUnfulfilledProductsCard/OrderUnfulfilledProductsCard.tsx
Owners: @saleor/ui-guild

Bump macaw to 1.1.2
  package-lock.json
  package.json
Owners: @saleor/ui-guild

Fix submit threads
  .github/actions/run-pw-tests/action.yml
  .github/actions/testmo/testmo-threads-submit-playwright/action.yml
Owners: @saleor/SRE

Fix working directory when sending results to testmo
  .github/actions/testmo/testmo-threads-submit-playwright/action.yml
  .gitignore
Owners: @saleor/SRE, @saleor/ui-guild

Add name and tag
  .github/actions/testmo/testmo-init/action.yml
  .github/workflows/postTestsResults.js
  .github/workflows/run-test-manual.yml
  .github/workflows/tests-nightly.yml
Owners: @saleor/SRE

Add name and tag
  .github/actions/testmo/testmo-init/action.yml
  .github/actions/testmo/testmo-threads-submit-playwright/action.yml
Owners: @saleor/SRE

Allow user to see manage app view
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListRow/AppListCardInstallButton.tsx
  src/apps/components/AppPage/AppPage.tsx
  src/apps/components/AppWebhooksDisplay/AppWebhooksDisplay.tsx
  src/apps/views/AppManageView/AppManageView.tsx
Owners: @saleor/ui-guild

Fix run name
  .github/actions/testmo/testmo-init/action.yml
  .github/workflows/run-test-manual.yml
  .github/workflows/tests-nightly.yml
Owners: @saleor/SRE

Refactor app permission check to hook
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/AppListPage/utils.test.ts
  src/apps/components/AppListPage/utils.ts
  src/apps/components/AppListRow/AppListCardInstallButton.tsx
  src/apps/components/AppListRow/AppListRow.test.tsx
  src/apps/components/AppWebhooksDisplay/AppWebhooksDisplay.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/views/AppListView/AppListView.tsx
  src/apps/views/AppManageView/AppManageView.tsx
  src/apps/views/AppView/AppView.tsx
  src/hooks/useHasManagedAppsPermission.ts
Owners: @saleor/ui-guild

Prevent warehouses fetch when no channels in variant details (#4712)
  .changeset/tender-windows-invent.md
  src/products/views/ProductVariant/ProductVariant.tsx
  src/products/views/ProductVariant/useAllWarehouses.test.ts
  src/products/views/ProductVariant/useAllWarehouses.ts
Owners: @saleor/ui-guild

Release 3.14.15
  package.json
Owners: @saleor/ui-guild

Change patch to minor
  .changeset/tricky-spies-study.md
Owners: @saleor/ui-guild

Fix button font weights (#4734)
  .changeset/tricky-spies-study.md
  package-lock.json
  package.json
  src/components/Datagrid/components/Header.tsx
Owners: @saleor/ui-guild

Add reports when tests run by cron
  .github/workflows/run-test-cron.yml
Owners: @saleor/SRE

Protect routes
  src/apps/apps-routing.tsx
Owners: @saleor/ui-guild

Fix messages skip ci
  .github/workflows/postTestsResults.js
Owners: @saleor/SRE

Fix messages [skip ci]
  .github/workflows/postTestsResults.js
  .github/workflows/run-test-cron.yml
  .github/workflows/run-test-manual.yml
  playwright/tests/apps.spec.ts
Owners: @saleor/SRE, @saleor/qa-guild

shouldShowInstalledApps
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/AppListPage/utils.test.ts
  src/apps/components/AppListPage/utils.ts
Owners: @saleor/ui-guild

Sending playwright tests results to slack and testmo
  .github/workflows/run-test-manual.yml
  playwright/tests/apps.spec.ts
Owners: @saleor/SRE, @saleor/qa-guild

Fix broken link to app details on tax configuration
  .changeset/gentle-laws-prove.md
  src/taxes/components/TaxAppLabel.tsx
Owners: @saleor/ui-guild

Update .github/workflows/tests-nightly.yml
  .github/workflows/tests-nightly.yml
Owners: @saleor/SRE

changes fter review
  .changeset/sweet-peas-check.md
  .github/actions/testmo/testmo-init/action.yml
  .github/actions/testmo/testmo-threads-submit-playwright/action.yml
Owners: @saleor/ui-guild, @saleor/SRE

Refactor AppListPage, write test for loading, empty state with checking manage_app perm
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/AppListPage/messages.ts
  src/apps/components/AppListPage/utils.test.ts
  src/apps/components/AppListPage/utils.ts
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppList/messages.ts
  src/apps/components/InstalledAppList/utils.test.ts
  src/apps/components/InstalledAppList/utils.ts
Owners: @saleor/ui-guild

Change manage button label depend on manage_apps
  src/apps/components/AppPage/AppPageNav.tsx
  src/apps/components/AppPage/message.ts
Owners: @saleor/ui-guild

Improve typing
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppList/utils.test.ts
Owners: @saleor/ui-guild

Extract messages
  locale/defaultMessages.json
  src/intl.ts
Owners: @saleor/ui-guild

ButtonWithTooltip
  src/components/ButtonWithTooltip/ButtonWithTooltip.tsx
  src/components/ButtonWithTooltip/index.ts
Owners: @saleor/ui-guild

Refactor HeaderOptions, block action when no manage_apps
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/styles.ts
Owners: @saleor/ui-guild

Improve buttons
  locale/defaultMessages.json
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListRow/AppListCardInstallButton.tsx
  src/apps/components/AppListRow/messages.ts
  src/components/ButtonWithTooltip/ButtonWithTooltip.tsx
Owners: @saleor/ui-guild

Add changset
  .changeset/thin-avocados-grow.md
Owners: @saleor/ui-guild

adding tests for promotion rules
  .changeset/fifty-gifts-join.md
  playwright/data/e2eTestData.ts
  playwright/pages/dialogs/deleteDiscountDialog.ts
  playwright/pages/dialogs/deleteRuleDialog.ts
  playwright/pages/dialogs/promotionRuleDialog.ts
  playwright/pages/discountsPage.ts
  playwright/tests/discounts.spec.ts
  src/discounts/components/DiscountRules/componenets/RuleDeleteModal/RuleDeleteModal.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditionRow/RuleConditionRow.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/RuleConditions.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/components/AddConditionsSection/AddConditionsSection.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/RulesList.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleSummaryChips/RuleSummaryChips.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleValueChips/RuleValueChips.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild
