Repository saleor/saleor-dashboard, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

Add changeset
  .changeset/funny-rabbits-walk.md
Owners: @saleor/ui-guild

Refactor RadioGroup
  src/components/ChannelsAvailabilityCard/Channel/ChannelAvailabilityItemContent.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/index.ts
Owners: @saleor/ui-guild

Add radix issue
  src/components/RadioGroup/RadioGroup.tsx
Owners: @saleor/ui-guild

Fix size instead of typeSize
  src/apps/components/AppListRow/AppListCardActions.tsx
  src/components/Accordion/Accordion.tsx
  src/components/ChannelPermission/ChannelPermission.tsx
  src/components/Datagrid/Datagrid.tsx
  src/components/Sidebar/user/FeatureFlagsModal/NoFlags.tsx
Owners: @saleor/ui-guild

Add error with resize observer to igonred
  src/services/errorTracking/adapters/Sentry.ts
Owners: @saleor/ui-guild

Add changeset
  .changeset/wicked-scissors-fold.md
Owners: @saleor/ui-guild

Fix typo
  .changeset/funny-rabbits-walk.md
Owners: @saleor/ui-guild

Fix: TypeError: Cannot read properties of undefined (reading '0') in datagrid (#4724)
  .changeset/big-pets-bathe.md
  src/components/ChannelsAvailabilityCard/Channel/ChannelAvailabilityItemContent.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/index.ts
  src/components/StopPropagation/StopPropagation.tsx
  src/components/StopPropagation/index.ts
Owners: @saleor/ui-guild

Ignore ResizeObserver error caused by Cypress in Sentry (#4726)
  .changeset/funny-rabbits-walk.md
  src/services/errorTracking/adapters/Sentry.ts
Owners: @saleor/ui-guild

Add "ResizeObserver loop completed with undelivered notifications" to Sentry ignore (#4727)
  .changeset/wicked-scissors-fold.md
  src/services/errorTracking/adapters/Sentry.ts
Owners: @saleor/ui-guild

Bump macaw-ui
  package-lock.json
  package.json
Owners: @saleor/ui-guild

[TEST] [E2E] Added test for setting balance and exporting gift cards (#4650)
  .changeset/nervous-toes-fail.md
  .env.template
  .github/actions/run-pw-tests/action.yml
  .github/workflows/pr-automation.yml
  .github/workflows/run-test-cron.yml
  .github/workflows/run-test-manual.yml
  playwright/api/mailpit.ts
  playwright/pages/dialogs/exportGiftCardsDialog.ts
  playwright/pages/dialogs/setGiftCardBalanceDialog.ts
  playwright/pages/giftCardsPage.ts
  playwright/tests/girftCards.spec.ts
Owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

Bump macaw-ui to 1.1.1
  package-lock.json
  package.json
Owners: @saleor/ui-guild

Add sentry source map tracking and release
  package-lock.json
  package.json
  src/services/errorTracking/adapters/Sentry.ts
  src/services/errorTracking/index.ts
  vite.config.js
Owners: @saleor/ui-guild

Throw error
  src/home/components/HomePage/HomePage.tsx
Owners: @saleor/ui-guild

Remove old scripts
  package.json
  scripts/removeSourcemaps.js
  scripts/sentry-upload.sh
Owners: @saleor/ui-guild

Remove throw button
  src/home/components/HomePage/HomePage.tsx
Owners: @saleor/ui-guild

Add changeset
  .changeset/gold-plants-build.md
Owners: @saleor/ui-guild

add changeset
  .changeset/sharp-cobras-obey.md
Owners: @saleor/ui-guild

add test for celaring translation
  playwright/data/e2eTestData.ts
  playwright/tests/translations.spec.ts
Owners: @saleor/qa-guild

add ttest for add and edit translation
  playwright/data/e2eTestData.ts
  playwright/pages/translationsPage.ts
  playwright/tests/translations.spec.ts
Owners: @saleor/qa-guild

Fix sentry in storybook
  .storybook/main.ts
  vite.config.js
Owners: @saleor/ui-guild

[E2E] Add tests for translations (#4723)
  .changeset/sharp-cobras-obey.md
  playwright/data/e2eTestData.ts
  playwright/pages/translationsPage.ts
  playwright/tests/translations.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

Remove storybook
  .changeset/four-dots-pay.md
Owners: @saleor/ui-guild

fix: tsc error
  package-lock.json
  package.json
Owners: @saleor/ui-guild

remove storybook folder & chromatic dep
  .storybook/decorators/CardDecorator.tsx
  .storybook/decorators/MockedProvidersDecorator.tsx
  .storybook/decorators/PaginatorContextDecorator.tsx
  .storybook/decorators/index.ts
  .storybook/helpers/MockedUserProvider.tsx
  .storybook/helpers/formError.ts
  .storybook/helpers/index.ts
  .storybook/main.ts
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/preview.tsx
  package-lock.json
  package.json
Owners: @saleor/ui-guild

Add sentry source map tracking and release (#4731)
  .changeset/gold-plants-build.md
  .storybook/main.ts
  package-lock.json
  package.json
  scripts/removeSourcemaps.js
  scripts/sentry-upload.sh
  src/services/errorTracking/adapters/Sentry.ts
  src/services/errorTracking/index.ts
  vite.config.js
Owners: @saleor/ui-guild

remove leftovers
  .storybook/main.ts
Owners: @saleor/ui-guild

applying requested changes - storageState()
  playwright/api/basics.ts
  playwright/tests/auth.setup.ts
Owners: @saleor/qa-guild

updating gh action
  .github/actions/run-pw-tests/action.yml
  playwright/api/basics.ts
  playwright/tests/auth.setup.ts
Owners: @saleor/SRE, @saleor/qa-guild

refactoring playwright setup file
  .changeset/great-bottles-retire.md
  .gitignore
  playwright/tests/auth.setup.ts
  playwright/tests/auth.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

refactoring login tests
  .gitignore
  playwright/data/userPermissions.ts
  playwright/pages/loginPage.ts
  playwright/tests/auth.setup.ts
  playwright/tests/auth.spec.ts
  playwright/tests/login.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

corrections
  .github/actions/run-pw-tests/action.yml
  playwright/api/basics.ts
  playwright/tests/auth.setup.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/channelsWebhooks.spec.ts
  playwright/tests/singlePermissions/contentPage.spec.ts
  playwright/tests/singlePermissions/orders.spec.ts
  playwright/tests/singlePermissions/plugins.spec.ts
  playwright/tests/singlePermissions/productType.spec.ts
  playwright/tests/singlePermissions/staffMembers.spec.ts
Owners: @saleor/SRE, @saleor/qa-guild

fixing file name typo
  playwright/tests/apps.spec.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/auth.setup.ts
  playwright/tests/categories.spec.ts
  playwright/tests/channels.spec.ts
  playwright/tests/collections.spec.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/home.spec.ts
  playwright/tests/orders.spec.ts
  playwright/tests/product.spec.ts
  playwright/tests/productTypes.spec.ts
  playwright/tests/shippingMethods.spec.ts
  playwright/tests/staffMembers.spec.ts
  playwright/tests/taxes.spec.ts
  playwright/tests/vouchers.spec.ts
  playwright/tests/warehouse.spec.ts
Owners: @saleor/qa-guild

Preview button weights
  package-lock.json
  package.json
Owners: @saleor/ui-guild

Add changeset
  .changeset/olive-rats-doubt.md
Owners: @saleor/ui-guild

Replace icons
  src/components/Sidebar/menu/hooks/useMenuStructure.tsx
  src/icons/Configuration.tsx
  src/icons/Contents.tsx
  src/icons/Customers.tsx
  src/icons/Discounts.tsx
  src/icons/Home.tsx
  src/icons/Marketplace.tsx
  src/icons/Orders.tsx
  src/icons/Products.tsx
  src/icons/Translations.tsx
Owners: @saleor/ui-guild

[E2E] [QA] Refactoring playwright setup file and moving auth specs (#4707)
  .changeset/great-bottles-retire.md
  playwright/api/basics.ts
  playwright/data/userPermissions.ts
  playwright/pages/loginPage.ts
  playwright/tests/apps.spec.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/auth.setup.ts
  playwright/tests/categories.spec.ts
  playwright/tests/channels.spec.ts
  playwright/tests/collections.spec.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/home.spec.ts
  playwright/tests/login.spec.ts
  playwright/tests/orders.spec.ts
  playwright/tests/product.spec.ts
  playwright/tests/productTypes.spec.ts
  playwright/tests/shippingMethods.spec.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/channelsWebhooks.spec.ts
  playwright/tests/singlePermissions/contentPage.spec.ts
  playwright/tests/singlePermissions/orders.spec.ts
  playwright/tests/singlePermissions/plugins.spec.ts
  playwright/tests/singlePermissions/productType.spec.ts
  playwright/tests/singlePermissions/staffMembers.spec.ts
  playwright/tests/staffMembers.spec.ts
  playwright/tests/taxes.spec.ts
  playwright/tests/vouchers.spec.ts
  playwright/tests/warehouse.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

Remove not used icon
  src/icons/AccountCircle.tsx
  src/icons/Ballot.tsx
  src/icons/BoldIcon.tsx
  src/icons/Bot.tsx
  src/icons/Calendar.tsx
  src/icons/Checkbox.tsx
  src/icons/CheckboxChecked.tsx
  src/icons/CheckboxIndeterminate.tsx
  src/icons/CheckboxSemiChecked.tsx
  src/icons/ChevronDown.tsx
  src/icons/Folder.tsx
  src/icons/HeaderOne.tsx
  src/icons/HeaderThree.tsx
  src/icons/HeaderTwo.tsx
  src/icons/Image.tsx
  src/icons/ItalicIcon.tsx
  src/icons/LinkIcon.tsx
  src/icons/LocalShipping.tsx
  src/icons/Monetization.tsx
  src/icons/Moon.tsx
  src/icons/NoPhoto.tsx
  src/icons/OrderedListIcon.tsx
  src/icons/Pages.tsx
  src/icons/QuotationIcon.tsx
  src/icons/Sales.tsx
  src/icons/Shop.tsx
  src/icons/StoreMall.tsx
  src/icons/Sun.tsx
  src/icons/Truck.tsx
  src/icons/UnorderedListIcon.tsx
  src/icons/Unstyled.tsx
  src/icons/Webhooks.tsx
Owners: @saleor/ui-guild

Changeset add
  .changeset/ten-students-sneeze.md
Owners: @saleor/ui-guild

CODEOWNERS:

* @saleor/ui-guild
/.github/ @saleor/SRE

/playwright @saleor/qa-guild
/cypress @saleor/qa-guild
