Repository saleor/saleor-dashboard, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

CODEOWNERS:

* @saleor/ui-guild
/.github/ @saleor/SRE

/playwright @saleor/qa-guild
/cypress @saleor/qa-guild

Use button
  src/taxes/components/TaxAppLabel.tsx
Owners: @saleor/ui-guild

adding tests for promotion rules (#4722)
  .changeset/fifty-gifts-join.md
  playwright/data/e2eTestData.ts
  playwright/pages/dialogs/deleteDiscountDialog.ts
  playwright/pages/dialogs/deleteRuleDialog.ts
  playwright/pages/dialogs/promotionRuleDialog.ts
  playwright/pages/discountsPage.ts
  playwright/tests/discounts.spec.ts
  src/discounts/components/DiscountRules/componenets/RuleDeleteModal/RuleDeleteModal.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditionRow/RuleConditionRow.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/RuleConditions.tsx
  src/discounts/components/DiscountRules/componenets/RuleForm/components/RuleConditions/components/AddConditionsSection/AddConditionsSection.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/RulesList.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleSummaryChips/RuleSummaryChips.tsx
  src/discounts/components/DiscountRules/componenets/RulesList/components/RuleSummary/components/RuleValueChips/RuleValueChips.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

adding e2e tests for attributes
  .changeset/thick-tools-flash.md
  playwright/data/commonLocators.ts
  playwright/data/e2eTestData.ts
  playwright/pages/attributesPage.ts
  playwright/pages/basePage.ts
  playwright/pages/categoriesPage.ts
  playwright/pages/configurationPage.ts
  playwright/pages/dialogs/addValueDialog.ts
  playwright/pages/dialogs/deleteAttributeDialog.ts
  playwright/pages/dialogs/deleteAttributeValueDialog.ts
  playwright/pages/dialogs/deleteAttributesInBulkDialog.ts
  playwright/pages/dialogs/editAttributeValueDialog.ts
  playwright/tests/attributes.spec.ts
  src/attributes/components/AttributeBulkDeleteDialog/AttributeBulkDeleteDialog.tsx
  src/attributes/components/AttributeDeleteDialog/AttributeDeleteDialog.tsx
  src/attributes/components/AttributeValueDeleteDialog/AttributeValueDeleteDialog.tsx
  src/attributes/components/AttributeValueEditDialog/AttributeValueEditDialog.tsx
  src/attributes/components/AttributeValues/AttributeValues.tsx
  src/components/Metadata/MetadataCardTable.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

correcting test case ids and adding extra assertion for attributes page
  playwright/data/commonLocators.ts
  playwright/pages/attributesPage.ts
  playwright/pages/basePage.ts
  playwright/pages/categoriesPage.ts
  playwright/pages/dialogs/editAttributeValueDialog.ts
  playwright/tests/attributes.spec.ts
  src/attributes/components/AttributeDeleteDialog/AttributeDeleteDialog.tsx
  src/attributes/components/AttributeValueDeleteDialog/AttributeValueDeleteDialog.tsx
  src/components/Datagrid/Datagrid.tsx
Owners: @saleor/qa-guild, @saleor/ui-guild

[TEST] [E2E] Adding e2e tests for attributes (#4728)
  .changeset/thick-tools-flash.md
  playwright/data/commonLocators.ts
  playwright/data/e2eTestData.ts
  playwright/pages/attributesPage.ts
  playwright/pages/basePage.ts
  playwright/pages/configurationPage.ts
  playwright/pages/dialogs/addValueDialog.ts
  playwright/pages/dialogs/deleteAttributeDialog.ts
  playwright/pages/dialogs/deleteAttributeValueDialog.ts
  playwright/pages/dialogs/deleteAttributesInBulkDialog.ts
  playwright/pages/dialogs/editAttributeValueDialog.ts
  playwright/tests/attributes.spec.ts
  src/attributes/components/AttributeBulkDeleteDialog/AttributeBulkDeleteDialog.tsx
  src/attributes/components/AttributeDeleteDialog/AttributeDeleteDialog.tsx
  src/attributes/components/AttributeValueDeleteDialog/AttributeValueDeleteDialog.tsx
  src/attributes/components/AttributeValueEditDialog/AttributeValueEditDialog.tsx
  src/attributes/components/AttributeValues/AttributeValues.tsx
  src/components/Datagrid/Datagrid.tsx
  src/components/Metadata/MetadataCardTable.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

Adjust singlePermission tests
  playwright/tests/singlePermissions/channelsWebhooks.spec.ts
  playwright/tests/singlePermissions/contentPage.spec.ts
  playwright/tests/singlePermissions/customer.spec.ts
  playwright/tests/singlePermissions/discount.spec.ts
  playwright/tests/singlePermissions/orders.spec.ts
  playwright/tests/singlePermissions/plugins.spec.ts
  playwright/tests/singlePermissions/product.spec.ts
  playwright/tests/singlePermissions/productType.spec.ts
  playwright/tests/singlePermissions/settingsConfiguration.spec.ts
  playwright/tests/singlePermissions/shipping.spec.ts
  playwright/tests/singlePermissions/staffMembers.spec.ts
  playwright/tests/singlePermissions/translations.spec.ts
Owners: @saleor/qa-guild

Remove required hasManagedAppsPermission when default
  src/apps/mutations.ts
  src/apps/views/AppManageView/AppManageView.tsx
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
Owners: @saleor/ui-guild

Update changesets
  .changeset/bright-phones-agree.md
  .changeset/sharp-cobras-obey.md
Owners: @saleor/ui-guild

Change from path to minor for changesets with tests (#4742)
  .changeset/bright-phones-agree.md
  .changeset/sharp-cobras-obey.md
Owners: @saleor/ui-guild

Fix: TypeError: Cannot read properties of undefined (reading '0') in datagrid (#4724)
  .changeset/big-pets-bathe.md
  src/components/ChannelsAvailabilityCard/Channel/ChannelAvailabilityItemContent.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/index.ts
  src/components/StopPropagation/StopPropagation.tsx
  src/components/StopPropagation/index.ts
Owners: @saleor/ui-guild

Ignore ResizeObserver error caused by Cypress in Sentry (#4726)
  .changeset/funny-rabbits-walk.md
  src/services/errorTracking/adapters/Sentry.ts
Owners: @saleor/ui-guild

Add "ResizeObserver loop completed with undelivered notifications" to Sentry ignore (#4727)
  .changeset/wicked-scissors-fold.md
  src/services/errorTracking/adapters/Sentry.ts
Owners: @saleor/ui-guild

Add sentry source map tracking and release (#4731)
  .changeset/gold-plants-build.md
  .storybook/main.ts
  package-lock.json
  package.json
  scripts/removeSourcemaps.js
  scripts/sentry-upload.sh
  src/services/errorTracking/adapters/Sentry.ts
  src/services/errorTracking/index.ts
  vite.config.js
Owners: @saleor/ui-guild

Fix broken link to app details on tax configuration (#4740)
  .changeset/gentle-laws-prove.md
  src/taxes/components/TaxAppLabel.tsx
Owners: @saleor/ui-guild

Fix broken link to app details on tax configuration (#4740)
  .changeset/gentle-laws-prove.md
  src/taxes/components/TaxAppLabel.tsx
Owners: @saleor/ui-guild

Cleanup
  .changeset/big-pets-bathe.md
  .changeset/four-dots-pay.md
  .changeset/funny-rabbits-walk.md
  .changeset/gentle-laws-prove.md
  .changeset/gold-plants-build.md
  .changeset/wicked-scissors-fold.md
Owners: @saleor/ui-guild

Implement refund add modal
  package-lock.json
  package.json
  src/orders/components/OrderDetailsPage/OrderDetailsPage.stories.tsx
  src/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  src/orders/components/OrderDetailsPage/OrderDetailsPageTransactions.stories.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderPaymentOrTransaction.test.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderPaymentOrTransaction.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderTransactionsWrapper.tsx
  src/orders/components/OrderRefundDatagrid/OrderRefundDatagrid.tsx
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
  src/orders/components/OrderRefundDialog/RadioTile.tsx
  src/orders/urls.ts
  src/orders/views/OrderDetails/OrderNormalDetails/index.tsx
  src/orders/views/OrderDetails/OrderUnconfirmedDetails/index.tsx
Owners: @saleor/ui-guild

Add changeset
  .changeset/many-vans-itch.md
Owners: @saleor/ui-guild

Add translations
  locale/defaultMessages.json
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
  src/orders/components/OrderRefundDialog/messages.ts
Owners: @saleor/ui-guild

Improve action icons
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
Owners: @saleor/ui-guild

Improve naming and refactor AppListCardInstallButton
  src/apps/components/AppListRow/AppListCardActions.tsx
  src/apps/components/AppListRow/AppListCardInstallButton.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppList/utils.test.ts
  src/apps/components/InstalledAppList/utils.ts
Owners: @saleor/ui-guild

Refactor & tests
  src/components/RadioTile/RadioTile.test.tsx
  src/components/RadioTile/RadioTile.tsx
  src/components/RadioTile/utils.ts
  src/orders/components/OrderRefundDialog/OrderRefundDialog.test.tsx
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
  src/orders/views/OrderDetails/OrderNormalDetails/index.tsx
Owners: @saleor/ui-guild

Remove package.json comment
  package.json
Owners: @saleor/ui-guild

Better handling of empty state
  locale/defaultMessages.json
  src/orders/components/OrderRefundDatagrid/OrderRefundDatagrid.tsx
  src/orders/components/OrderRefundDatagrid/messages.ts
Owners: @saleor/ui-guild

Remove radix from package.json
  package-lock.json
  package.json
Owners: @saleor/ui-guild

Rename getHoverState
  src/components/RadioTile/RadioTile.tsx
  src/components/RadioTile/utils.ts
Owners: @saleor/ui-guild

Export indicator to separate component
  src/components/RadioTile/RadioTile.tsx
  src/components/RadioTile/RadioTileIndicator.tsx
Owners: @saleor/ui-guild

Handle empty state
  locale/defaultMessages.json
  src/orders/components/OrderRefundDatagrid/OrderRefundDatagrid.tsx
  src/orders/components/OrderRefundDatagrid/messages.ts
Owners: @saleor/ui-guild

Make RadioTiles compound component
  src/components/RadioTiles/RadioTile.test.tsx
  src/components/RadioTiles/RadioTile.tsx
  src/components/RadioTiles/RadioTileIndicator.tsx
  src/components/RadioTiles/RadioTiles.tsx
  src/components/RadioTiles/utils.ts
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
Owners: @saleor/ui-guild

Add translation
  locale/defaultMessages.json
Owners: @saleor/ui-guild

Cleanup 3.19.4 (#4744)
  .changeset/big-pets-bathe.md
  .changeset/four-dots-pay.md
  .changeset/funny-rabbits-walk.md
  .changeset/gentle-laws-prove.md
  .changeset/gold-plants-build.md
  .changeset/wicked-scissors-fold.md
Owners: @saleor/ui-guild

Handle empty state with datagrid
  src/orders/components/OrderRefundDatagrid/OrderRefundDatagrid.tsx
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
Owners: @saleor/ui-guild

Implement refund add modal (#4745)
  .changeset/many-vans-itch.md
  locale/defaultMessages.json
  src/components/RadioTiles/RadioTile.test.tsx
  src/components/RadioTiles/RadioTile.tsx
  src/components/RadioTiles/RadioTileIndicator.tsx
  src/components/RadioTiles/RadioTiles.tsx
  src/components/RadioTiles/utils.ts
  src/orders/components/OrderDetailsPage/OrderDetailsPage.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderPaymentOrTransaction.test.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderPaymentOrTransaction.tsx
  src/orders/components/OrderPaymentOrTransaction/OrderTransactionsWrapper.tsx
  src/orders/components/OrderRefundDatagrid/OrderRefundDatagrid.tsx
  src/orders/components/OrderRefundDatagrid/messages.ts
  src/orders/components/OrderRefundDialog/OrderRefundDialog.test.tsx
  src/orders/components/OrderRefundDialog/OrderRefundDialog.tsx
  src/orders/components/OrderRefundDialog/messages.ts
  src/orders/urls.ts
  src/orders/views/OrderDetails/OrderNormalDetails/index.tsx
  src/orders/views/OrderDetails/OrderUnconfirmedDetails/index.tsx
Owners: @saleor/ui-guild

Allow to copy from voucher codes datagrid
  src/components/Datagrid/customCells/cells.ts
  src/discounts/components/VoucherCodesDatagrid/datagrid.ts
Owners: @saleor/ui-guild

add changeset
  .changeset/modern-weeks-smoke.md
Owners: @saleor/ui-guild

adding e2e test for readonly access to Apps
  .changeset/wise-comics-tie.md
  playwright/pages/appDetailsPage.ts
  playwright/pages/appPageThirdparty.ts
  playwright/pages/appsPage.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/readonly_app_access.spec.ts
  src/apps/components/AppDetailsPage/AppDetailsPage.tsx
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

Add changeset
  .changeset/polite-toys-exercise.md
Owners: @saleor/ui-guild

Allow to copy code from voucher codes datagrid (#4746)
  .changeset/modern-weeks-smoke.md
  src/components/Datagrid/customCells/cells.ts
  src/discounts/components/VoucherCodesDatagrid/datagrid.ts
Owners: @saleor/ui-guild

Improve changset
  .changeset/thin-avocados-grow.md
Owners: @saleor/ui-guild

fix changeset
  .changeset/eleven-mirrors-guess.md
  .changeset/sweet-peas-check.md
Owners: @saleor/ui-guild
