Repository saleor/saleor-dashboard, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

CODEOWNERS:

* @saleor/ui-guild
/.github/ @saleor/SRE

/playwright @saleor/qa-guild
/cypress @saleor/qa-guild

Fix order list page empty tooltip
  .changeset/slimy-toys-speak.md
  src/orders/components/OrderListPage/OrderListPage.tsx
Owners: @saleor/ui-guild

Improve tests
  src/apps/components/InstalledAppList/utils.test.ts
Owners: @saleor/ui-guild

(wip) view layout
  src/config.ts
  src/fragments/orders.ts
  src/graphql/hooks.generated.ts
  src/graphql/types.generated.ts
  src/orders/components/OrderTransactionRefundPage/OrderTransactionRefundPage.tsx
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionRefundDatagrid/OrderRefundTransactionDatagrid.tsx
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionRefundDatagrid/datagrid.ts
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionRefundDatagrid/messages.ts
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionTiles/OrderTransactionTiles.tsx
  src/orders/index.tsx
  src/orders/urls.ts
  src/orders/views/OrderTransactionRefund/OrderTransactionRefund.tsx
  src/orders/views/OrderTransactionRefund/index.ts
  src/types.ts
Owners: @saleor/ui-guild

Add check with test status to release PR
  .github/workflows/add-check-with-tests-status-to-release-PR.yml
Owners: @saleor/SRE

Test PR - running playwright tests after deployment
  .github/workflows/create-pr.yml
Owners: @saleor/SRE

Test PR - running playwright tests after deployment
  .github/workflows/create-pr.yml
Owners: @saleor/SRE

Rerun job
  .github/workflows/add-check-with-tests-status-to-release-PR.yml
Owners: @saleor/SRE

Rerun job
  .github/workflows/add-check-with-tests-status-to-release-PR.yml
Owners: @saleor/SRE

Rerun job
  .github/workflows/create-pr.yml
Owners: @saleor/SRE

updating assertion in attribute tests
  .changeset/thin-timers-grin.md
  playwright/tests/attributes.spec.ts
  playwright/tests/giftCards.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

adding extra assertion to translation tests
  playwright/tests/translations.spec.ts
Owners: @saleor/qa-guild

modifying assertions for gift card tests
  playwright/pages/basePage.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/translations.spec.ts
Owners: @saleor/qa-guild

(wip) improve transaction tiles, add sidebar components & savebar
  src/orders/components/OrderTransactionRefundPage/OrderTransactionRefundPage.tsx
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionReason/OrderTransactionReason.tsx
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionRefundSummary/OrderTransactionSummary.tsx
  src/orders/components/OrderTransactionRefundPage/components/OrderTransactionTiles/OrderTransactionTiles.tsx
  src/orders/urls.ts
  src/orders/views/OrderDetails/OrderNormalDetails/index.tsx
Owners: @saleor/ui-guild

[E2E] Fixing flaky e2e tests (#4751)
  .changeset/thin-timers-grin.md
  playwright/pages/basePage.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/translations.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

updating tests for extra assertions and adding skip to App test
  playwright/pages/appsPage.ts
  playwright/tests/apps.spec.ts
  playwright/tests/giftCards.spec.ts
Owners: @saleor/qa-guild

updating tests for extra assertions
  playwright/tests/attributes.spec.ts
Owners: @saleor/qa-guild

updating tests for extra assertions and temporarily commenting not working assertions
  .changeset/rich-apes-buy.md
  playwright/pages/giftCardsPage.ts
  playwright/tests/giftCards.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

[E2E] Fixing another batch of flaky tests (#4756)
  .changeset/rich-apes-buy.md
  playwright/pages/appsPage.ts
  playwright/pages/giftCardsPage.ts
  playwright/tests/apps.spec.ts
  playwright/tests/attributes.spec.ts
  playwright/tests/giftCards.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

adding PW test for readonly Apps access
  .changeset/new-ants-shop.md
  playwright/pages/appDetailsPage.ts
  playwright/pages/appPageThirdparty.ts
  playwright/pages/appsPage.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/readonly_app_access.spec.ts
  src/apps/components/AllAppList/AllAppList.tsx
  src/apps/components/AppDetailsPage/AppDetailsPage.tsx
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppListRow/InstalledAppListRow.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

adding PW test for readonly Apps access (#4755)
  .changeset/new-ants-shop.md
  playwright/pages/appDetailsPage.ts
  playwright/pages/appPageThirdparty.ts
  playwright/pages/appsPage.ts
  playwright/tests/singlePermissions/apps.spec.ts
  playwright/tests/singlePermissions/readonly_app_access.spec.ts
  src/apps/components/AllAppList/AllAppList.tsx
  src/apps/components/AppDetailsPage/AppDetailsPage.tsx
  src/apps/components/AppDetailsPage/HeaderOptions.tsx
  src/apps/components/AppDetailsPage/PermissionsCard.tsx
  src/apps/components/AppListPage/AppListPage.tsx
  src/apps/components/InstalledAppList/InstalledAppList.tsx
  src/apps/components/InstalledAppListRow/InstalledAppListRow.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

adding condition to not create json file if it does exist
  .changeset/sixty-colts-cough.md
  .github/actions/run-pw-tests/action.yml
  .github/workflows/pr-automation.yml
  playwright.config.ts
  playwright/tests/auth.setup.ts
Owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

fixing GH action
  .github/actions/run-pw-tests/action.yml
  .github/workflows/pr-automation.yml
  playwright.config.ts
Owners: @saleor/SRE, @saleor/ui-guild

updating yml files
  .github/workflows/pr-automation.yml
  playwright.config.ts
Owners: @saleor/SRE, @saleor/ui-guild

adding cache
  .github/workflows/pr-automation.yml
Owners: @saleor/SRE

adding cache
  .github/workflows/pr-automation.yml
Owners: @saleor/SRE

add siteSettings basic test
  .changeset/short-garlics-brush.md
  playwright/api/basics.ts
  playwright/pages/siteSettingsPage.ts
  playwright/tests/siteSettings.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

initial commit with changelog
  .changeset/neat-shoes-approve.md
Owners: @saleor/ui-guild

add test for update product type
  playwright/data/e2eTestData.ts
  playwright/pages/productTypePage.ts
  playwright/tests/productTypes.spec.ts
Owners: @saleor/qa-guild

adding test for permission groups
  .changeset/metal-chicken-build.md
  playwright/data/e2eTestData.ts
  playwright/pages/basePage.ts
  playwright/pages/dialogs/assignPermissionGroupMembersDialog.ts
  playwright/pages/dialogs/deletePermissionGroupDialog.ts
  playwright/pages/dialogs/unassignPermissionGroupMembersDialog.ts
  playwright/pages/permissionGroupDetailsPage.ts
  playwright/pages/permissionGroupsPage.ts
  playwright/tests/permissionGroup.spec.ts
  src/components/AccountPermissions/components/PermissionList/PermissionList.tsx
  src/components/ChannelPermission/ChannelPermission.tsx
  src/permissionGroups/components/AssignMembersDialog/AssignMembersDialog.tsx
  src/permissionGroups/components/PermissionGroupDeleteDialog/PermissionGroupDeleteDialog.tsx
  src/permissionGroups/components/PermissionGroupInfo/PermissionGroupInfo.tsx
  src/permissionGroups/components/PermissionGroupMemberList/PermissionGroupMemberList.tsx
  src/permissionGroups/components/UnassignMembersDialog/UnassignMembersDialog.tsx
  src/permissionGroups/views/PermissionGroupDetails/PermissionGroupDetails.tsx
Owners: @saleor/ui-guild, @saleor/qa-guild

New github action for metrics gathering
  .changeset/warm-balloons-call.md
  .github/workflows/repo-metrics.yml
Owners: @saleor/ui-guild, @saleor/SRE

open draft PR
  .github/workflows/create-pr.yml
Owners: @saleor/SRE

Add new workflow
  .github/workflows/add-check-with-tests-status-to-release-PR.yml
  .github/workflows/run-test-on-release.yml
Owners: @saleor/SRE

Add new workflow [skip ci]
  .github/workflows/run-test-on-release.yml
Owners: @saleor/SRE

metrics file name containing date
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

search query repo update
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

correcting test case ids
  .changeset/serious-books-wave.md
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/staffMembers.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

Update .github/workflows/repo-metrics.yml
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

fixing flaky test
  playwright/pages/dialogs/productCreateDialog.ts
Owners: @saleor/qa-guild

Update repo-metrics.yml
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

Update .changeset/serious-books-wave.md
  .changeset/serious-books-wave.md
Owners: @saleor/ui-guild
