Repository saleor/saleor-dashboard, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/ui-guild, @saleor/SRE, @saleor/qa-guild

Update repo-metrics.yml
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

Update .github/workflows/repo-metrics.yml
  .github/workflows/repo-metrics.yml
Owners: @saleor/SRE

[QA] Correcting e2e test case ids (#4764)
  .changeset/serious-books-wave.md
  playwright/pages/dialogs/productCreateDialog.ts
  playwright/tests/discounts.spec.ts
  playwright/tests/giftCards.spec.ts
  playwright/tests/staffMembers.spec.ts
Owners: @saleor/ui-guild, @saleor/qa-guild

change port for local dev
  vite.config.js
Owners: @saleor/ui-guild

gql schema changes
  schema.graphql
  src/graphql/typePolicies.generated.ts
  src/graphql/types.generated.ts
Owners: @saleor/ui-guild

gql schema changes
  src/graphql/fragmentTypes.generated.ts
  src/graphql/hooks.generated.ts
Owners: @saleor/ui-guild

change port for local dev
  lws.config.js
Owners: @saleor/ui-guild

page media url query
  src/pages/queries.ts
Owners: @saleor/ui-guild

more schema changes page media mutations
  src/pages/mutations.ts
Owners: @saleor/ui-guild

passing page media mutation down to child components
  src/components/RichTextEditor/RichTextEditor.tsx
  src/pages/components/PageDetailsPage/PageDetailsPage.tsx
  src/pages/components/PageInfo/PageInfo.tsx
  src/pages/views/PageDetails.tsx
Owners: @saleor/ui-guild

add page media to page details fragment
  src/fragments/pages.ts
Owners: @saleor/ui-guild

add page media to page details fragment
  src/pages/index.tsx
  src/utils/handlers/fileUploadHandler.ts
Owners: @saleor/ui-guild

handle image upload with editorjs
  src/components/RichTextEditor/ReactEditorJS.tsx
  src/components/RichTextEditor/RichTextEditor.tsx
Owners: @saleor/ui-guild

linting
  src/pages/index.tsx
Owners: @saleor/ui-guild

move createImageUploadHandler to utils
  src/pages/index.tsx
  src/pages/utils/handlers.ts
  src/pages/views/PageDetails.tsx
Owners: @saleor/ui-guild

CODEOWNERS:

* @saleor/ui-guild
/.github/ @saleor/SRE

/playwright @saleor/qa-guild
/cypress @saleor/qa-guild
